<BR><BR>
<h3>Question {{q}}</h3>
<p class="lead text-justify" [innerHTML]="p1">
</p>
<div class="code-p">
    <pre>
        <p *ngFor="let p2item of p2" >{{p2item}}</p>
    </pre>
</div>
<div class="lead text-justify">
    <div *ngFor="let p3item of p3">{{p3item}}</div>
</div>

<form  [formGroup]="formoptions" (ngSubmit)="onSubmit()" > 
        <div class="text-justify"  formArrayName="ckBox" >
                <section class="cb-wrapper" >
                    <mat-checkbox color="warn" [formControlName]="i"  *ngFor="let optitem of options; let i=index" class="example-margin" >
                        <p>{{optitem}}</p>
                    </mat-checkbox>
                </section>
            </div>
<input type="hidden"  formControlName='hiddenq' >
<input type="hidden"  formControlName='qdate' >

<div class="button-submit">
    <button mat-raised-button  type="submit" color="warn">Submit & Check your answers</button>
</div>
</form>

<BR>
<BR>